header {
  background-color: gray;
  color: white;
  font-family: Arial;
  padding: 10px;
}

.teams {
  background-color: rgb(211,211,211);
  padding: 10px;
}
.teams h2 {
  border: 2px solid black;
  font-family: Arial;
  height: 30px;
  padding: 5px;
  width: 100px;
}